<div class="container">
  <div class="card login-form col-lg-8 col-md-12" style="margin-top:5em;padding:0 ;">
    <div class="card-header"></div>
    <div class="card-body" style="padding:0;">
      <form [formGroup]="registerForm">
        <div class="col-12 row m-0">
          <div class="col-12">
            <h4 class="text-center">Tiger Portal - Sign up</h4>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label>First name</label>
              <div class="input-group">
                <input type="text" class="form-control" autocomplete="off" formControlName="name"
                       placeholder="name" required="required">
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <div class="input-group">
                <input type="email" class="form-control" autocomplete="off"
                       formControlName="email" placeholder="Email" required="required">
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" autocomplete="off"
                       formControlName="password" placeholder="Password" required="required">
                <div class="input-group-prepend" (click)="showPassword = !showPassword">
                                        <span class="input-group-text" id="addon-wrapping">
                                            <i *ngIf="!showPassword" class="far fa-eye"></i>
                                            <i *ngIf="showPassword" class="far fa-eye-slash"></i>
                                        </span>
                </div>
              </div>
              <div class="error-msg" *ngIf="registerForm.get('password').errors &&
                                            registerForm.get('password').touched">
                                                <span [hidden]="!registerForm.get('password').errors.pattern">
                                                    Invalid Password (Note: Minimum eight characters, at least one uppercase and
                                                    lowercase letter, one number and one special character ([#?!@$%^&*-) )</span>
                <span [hidden]="!registerForm.get('password').errors.required">
                                                    Password is required</span>
                <span [hidden]="!registerForm.get('password').errors.maxlength">
                                                    Password should not exceed
                  {{registerForm.get('password').errors.maxlength?.requiredLength}}
                  characters, You have entered
                  {{registerForm.get('password').errors.maxlength?.actualLength}}
                  characters</span>
              </div>
            </div>
            <div class="form-group">
              <button (click)="register()"
                      [disabled]="registerForm.get('email').invalid && registerForm.get('password').invalid"
                      class="btn  w-100 tigerBTN">Continue</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
